<div class="comments">
  {{#each this}}
  <article class="card">
    <div class="card-header><h2>"   "</h2></div>
    <div class="card-body">      
      <div class="text">
        {{comment_text}}
      </div>
      <div class="meta">
        {{user.username}} on {{format_date created_at}}
      </div>
    </div>
  </article>
  {{/each}}
</div>