<form id="new-post-form">
  <div>
    <label for="newTitle">Title:</label>
    <input type="text" name="post-title" id="newTitle" />
  </div>
  <div class="flex-row">
    <label for="password-input-login">Post Content:</label>
    <textarea class="col-12" name="post-body" id="newPostBody"></textarea> 
  </div>
  <div>
    <button class="btn" type="submit">Submit Post</button>
  </div>
</form>

<script src="/js/new.js"></script>