{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form" id="new-comment-form">
  <div class="flex-row">
    <label for="comment-body">Comment</label>
    <textarea class="col-12" name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}